__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.idea
.git
.gitignore
.gitattributes
.pre-commit-config.yaml
.mypy_cache
.pytest_cache
.ruff_cache
.hypothesis
htmlcov
mkdocs.yml
.editorconfig
docs/
static/
stubs/
site/
samples/
tests/
weights/
docker/
README.md
codecov.yaml
.env.example
